.cover
  .cover__container
    .cover__descr Сервис подбора новостроек от&nbsp;девелоперов
    h1.cover__title Бесплатно подберем квартиру в&nbsp;Москве и&nbsp;МО от&nbsp;3,5 млн&nbsp;₽
    .cover__list
      .cover__list-item.cover__list-item--watch
        .cover__list-item-text
          | Подбор займет
          br
          | 3&nbsp;минуты
      .cover__list-item.cover__list-item--shield
        .cover__list-item-text
          | Без риэлторов
          br
          | и&nbsp;агентств
      .cover__list-item.cover__list-item--percent
        .cover__list-item-text
          | Актуальные
          br
          | акции и&nbsp;скидки
    .cover__btn(data-btn-popup="quest") подобрать квартиру
