.list-of-apartments
  .list-of-apartments__container
    h1.list-of-apartments__title Спасибо
    p.list-of-apartments__descr
      | Менеджер свяжется с&nbsp;вами и&nbsp;подготовит
      br
      | подборку по&nbsp;вашим параметрам
    .list-of-apartments__list-wrapper
      .list-of-apartments__list-header
        .list-of-apartments__list-header-col.list-of-apartments__list-header-col--left
          span.list-of-apartments__list-header-text.list-of-apartments__list-header-text--desktop Квартиры/аппартаменты:
          span.list-of-apartments__list-header-text.list-of-apartments__list-header-text--mobile Кв./аппарт.:
          span.list-of-apartments__list-header-text.list-of-apartments__list-header-text--red 22 варианта
        .list-of-apartments__list-header-col.list-of-apartments__list-header-col--right
          a.list-of-apartments__list-header-link(href="#")
            span.list-of-apartments__list-header-link-text Скачать подборку в PDF
      .list-of-apartments__list-content
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского Еще какой-то текст
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
        a.list-of-apartments__list-item(href="#")
          .list-of-apartments__list-item-container
            .list-of-apartments__list-item-tags
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--people
                .list-of-apartments__list-item-tag-text Семейная ипотека
              .list-of-apartments__list-item-tag.list-of-apartments__list-item-tag--star
                .list-of-apartments__list-item-tag-text Военная ипотека
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--desktop
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-subtitle Горки Парк
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
              .list-of-apartments__list-item-content-row
                .list-of-apartments__list-item-content-address
                  .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                  .list-of-apartments__list-item-content-address-time 10 мин
                .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-row.list-of-apartments__list-item-content-row--hidden.list-of-apartments__list-item-content-row--column
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-flat
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--left Cтудия
                  .list-of-apartments__list-item-content-flat-col.list-of-apartments__list-item-content-flat-col--right от 3.5 млн ₽
                .list-of-apartments__list-item-content-result
                  .list-of-apartments__list-item-content-result-text Срок сдачи:
                  .list-of-apartments__list-item-content-result-text.list-of-apartments__list-item-content-result-text--bold 2 кв. 2020
            .list-of-apartments__list-item-content.list-of-apartments__list-item-content--mobile
              .list-of-apartments__list-item-subtitle Горки Парк
              .list-of-apartments__list-item-content-company-name Дарстрой
              .list-of-apartments__list-item-content-address
                .list-of-apartments__list-item-content-address-location Бульвар Дмитрия Донского
                .list-of-apartments__list-item-content-address-time 10 мин
              .list-of-apartments__list-item-content-btn-and-price
                .list-of-apartments__list-item-btn Позвонить
                .list-of-apartments__list-item-price от&nbsp;12&nbsp;млн&nbsp;₽
            img.list-of-apartments__list-item-img(src="img/examples/1.webp")
