// COLORS VARIABLES

$color-black: #31271D;
$color-black-2: #202020;
$color-black-3: #262626;
$color-black-4: #000000;

$color-white: #FFFFFF;
$color-white-2: #F2F2F2;
$color-white-3: #FAFAFA;

$color-gray: #DEDEDE;
$color-gray-2: #666666;
$color-gray-3: #373737;
$color-gray-4: #999999;

$color-pink: #F79F88;
$color-turquoise: #42B6C6;
$color-red: #ED625D;
$color-orange: #FFAB33;
