doctype html
html
  head
    meta(charset="utf-8")
    title Спасибо | Quiz Granel Layout
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="skype-toolbar" content="skype-toolbar-parser-compatible")
    link(rel="stylesheet" href="css/app-project.min.css")
    //- Favicons https://www.favicon-generator.org/
  body
    include ../blocks/bg/bg
    section.section
      include ../blocks/header/header-black
      include ../blocks/list-of-apartments/list-of-apartments
    include ../blocks/footer/footer
    include ../blocks/popup/popup-quest
    include ../blocks/popup/popup-form
    script(src="js/app-project-base.js")
    script(src="js/app-project-run.js")
