.info.info--numbers
  .info__container
    h2.info__title Проверяем все новостройки
    .info__container-inner
      p.info__descr Из&nbsp;нашей базы удаляются новостройки, которые затягивают сроки строительства, имеют плохие отзывы жильцов или прецеденты обмана при заключении договора. Такие объекты не&nbsp;попадут к&nbsp;вам в&nbsp;подборку.
      .info__list
        .info__item
          .info__item-title 13450
          .info__item-text квартир в&nbsp;продаже
        .info__item
          .info__item-title 1340
          .info__item-text новостроек в&nbsp;базе
