.info
  .info__container
    h2.info__title
      | Пришлем предложения
      br
      | от&nbsp;крупных застройщиков
    .info__container-inner
      p.info__descr Мы&nbsp;напрямую сотрудничаем только с&nbsp;надежными, юридически чистыми застройщиками. Каждый день получаем актуальную информацию об&nbsp;изменении цен, скидках и&nbsp;выгодных предложениях в&nbsp;новостройках.
      .info__btn(data-btn-popup="quest") подобрать квартиру
