footer.footer
  .footer__container
    .footer__copyright @2021 Лайнер
    a.footer__text-link(href="#") Политика конфиденциальности
    a.footer__tel(href="tel:+78001242628") 8 (800) 124-26-28
    .footer__btn(data-btn-popup="quest") подобрать квартиру
