input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  user-select: none;
}
textarea {
  user-select: none;
}
label,
legend {
  user-select: none;
  display: block;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  user-select: none;
}

select {
  user-select: none;
}
option {
  user-select: none;
}
    
