.brands
  .brands__container
    .brands__item.brands__item--zhik
    .brands__item.brands__item--meriton
    .brands__item.brands__item--darstroy
    .brands__item.brands__item--insiti
    .brands__item.brands__item--granel
    .brands__item.brands__item--dogma
    .brands__item.brands__item--pik
    .brands__item.brands__item--a101
    .brands__item.brands__item--ksm
