// BREAKPOINTS VARIABLES
// Docs. http://breakpoint-sass.com
// Classic Media Queries. https://goo.gl/uUTZRd

$mobile-360: max-width 360px;
$mobile-375: max-width 375px;
$mobile-480: max-width 480px;
$mobile-640: max-width 640px;
$tablet-768: max-width 768px;
$tablet-960: max-width 960px;
$tablet-1024: max-width 1024px;
$desktop-1200: max-width 1200px;
$desktop-1440: max-width 1439px;
$desktop-1200-1920: 1200px 1920px;
$desktop-1440-1919: 1440px 1919px;
$desktop-1440-1920: 1440px 1920px;
$desktop-large: min-width 1441px;
$desktop-special: min-width 1401px;
$desktop-1920: min-width 1920px;