header.header
  .header__container
    .header__col.header__col--left
      a.header__logo(href="/")
        .header__logo-text Лайнер
      .header__descr Сервис подбора новостроек от&nbsp;девелоперов
    .header__col.header__col--right
      .header__btn(data-btn-popup="quest") подобрать квартиру
