section.popup.popup--quest(data-popup="quest")
  include ../../blocks/bg/bg
  .popup__container
    .popup__header
      .popup__header-col.popup__header-col--left
        a.popup__header-logo(href="/")
          .popup__header-logo-text Лайнер
        .popup__header-descr Сервис подбора новостроек от&nbsp;девелоперов
      .popup__header-col.popup__header-col--right
        .popup__close
    .popup__content
      .popup__text-wrapper
        .popup__subtitle Вопрос 1
        .popup__title Какие планировки вас интересуют?
      form.popup__form
        label.popup__form-label(for="one")
          input.popup__form-input-checkbox(type="checkbox" name="one" id="one")
          .popup__form-btn Однокомнатные и евродвушки
        label.popup__form-label(for="two")
          input.popup__form-input-checkbox(type="checkbox" name="two" id="two")
          .popup__form-btn Двухкомнатные
        label.popup__form-label.popup__form-label--active(for="three")
          input.popup__form-input-checkbox(type="checkbox" name="three" id="three" checked)
          .popup__form-btn Трехкомнатные
        label.popup__form-label(for="four")
          input.popup__form-input-checkbox(type="checkbox" name="four" id="four")
          .popup__form-btn Четырехкомнатные
      .popup__nav
        .popup__nav-item.popup__nav-item--prev.popup__nav-item--disable(href="#")
          .popup__nav-item-text Назад
        a.popup__nav-item.popup__nav-item--next(href="#" data-btn-popup="feedbackform")
          .popup__nav-item-text Вперед
