section.popup.popup--form(data-popup="feedbackform")
  include ../../blocks/bg/bg
  .popup__container
    .popup__header
      .popup__header-col.popup__header-col--left
        a.popup__header-logo(href="/")
          .popup__header-logo-text Лайнер
        .popup__header-descr Сервис подбора новостроек от&nbsp;девелоперов
      .popup__header-col.popup__header-col--right
        .popup__close
    .popup__content
      .popup__text-wrapper
        .popup__subtitle Оставьте заявку
        .popup__title Мы&nbsp;нашли квартиры, которые вам подходят
        .popup__descr Укажите ваш личный номер телефона&nbsp;&mdash; на&nbsp;него вы&nbsp;получите подборку квартир
      form.popup__form
        .popup__form-row
          input.popup__input-text.popup__input-text--tel(type="text" value="" placeholder="+7 (___)___-__-__")
        .popup__form-row
          button.popup__btn(type="submit") Получить подборку
          .popup__form-descr Отправляя заявку вы&nbsp;соглашаетесь с&nbsp;условиями политики конфеденциальности
